<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">


      <mat-form-field>
          <input type="email"
          matInput
          placeholder="Your email"
          ngModel
          name="email"
          email
          required
          #emailInput="ngModel">
          <mat-error *ngIf="emailInput.hasError('required')">Fields may not be empty.</mat-error>
          <mat-error *ngIf="emailInput.hasError('email')">E-Mail is invalid.</mat-error>
      </mat-form-field>


      <mat-form-field hintLabel="Should be 6 characters max!">
          <input type="password" matInput placeholder="Your password"
          ngModel name="password"
          required
          minlength="6"
          #pwInput="ngModel">
          <mat-hint align="end"> {{ pwInput.value?.length }} / 6 </mat-hint>
      </mat-form-field>


      <mat-form-field >
          <input matInput placeholder="Your birthdate" [max]="maxDate" [matDatepicker]="picker" ngModel name="birthdate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>



      <mat-checkbox ngModel name="agree" required>Agree to Terms and Conditions.</mat-checkbox>


      <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>


  </form>
</section>
