<section class="login-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
      [formGroup]="loginForm" (ngSubmit)="onSubmit()">


        <mat-form-field>
            <input type="email"
            matInput
            placeholder="Your email"
            formControlName="email">
            <mat-error>Invalid or missing email.</mat-error>
        </mat-form-field>


        <mat-form-field hintLabel="Should be 6 characters max!">
            <input type="password" matInput placeholder="Your password"
            ngModel name="password"
            formControlName="password">
            <mat-hint align="end"> Please enter your password </mat-hint>
        </mat-form-field>

<!--
        <mat-form-field >
            <input matInput placeholder="Your birthdate" [max]="maxDate" [matDatepicker]="picker" ngModel name="birthdate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>



        <mat-checkbox ngModel name="agree" required>Agree to Terms and Conditions.</mat-checkbox>
 -->

        <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>


    </form>
  </section>
